<html>
   <head>
      <% include inc/head %>
      <title>EDIT - RESTAURANT</title>
   </head>
   <body>
      <% include inc/navbar_edit%>
      <div class="container site-container">

<form id='details' method='post' action="/change?_id=<%=result[0]._id%>" encType="multipart/form-data">
<input type="hidden" name="_id" value=""><br>
Name: <input type="text" name="name" value="<%=result[0].name%>" required><br>
Borough: <input type="text" name="borough" value="<%=result[0].borough%>" ><br>
Cuisine: <input type="text" name="cuisine" value="<%=result[0].cuisine%>" ><br>
Building: <input type="text" name="building" value="<%=result[0].address.building%>" ><br>
Street: <input type="text" name="street" value="<%=result[0].address.street%>" ><br>
Zipcode: <input type="text" name="zipcode" value="<%=result[0].address.zipcode%>" ><br>

GPS Coordinates (lon.): <input name="lon" type="text" value="<%=result[0].address.coord[0]%>"><br>
GPS Coordinates (lan.): <input name="lat" type="text" value="<%=result[0].address.coord[1]%>"><br>
<%if(result[0].photo){%>
<img class="img-responsive" src="data:<%=result[0].photoMimetype%>;base64,<%=result[0].photo%>"/>
<%}%>

<input type="hidden" name="oldPhoto" value="<%=result[0].photo%>">
<input type="hidden" name="oldPhotoMimetype" value="<%=result[0].photoMimetype%>">
Upload new Photo:<input name="image" type="file" ><br>
</form>
<script>
function goBack() {window.history.back();}
</script>
<button type="submit" form="details" value="Edit">Update</button>
<button onclick="goBack()">Go Back</button>
   </div>
 </body>
</html>