<html>
   <head>
      <% include inc/head %>
      <title>EDIT - RESTAURANT</title>
   </head>
   <body>
      <% include inc/navbar_edit%>
      <div class="container site-container">

<form id='details' method='post' action="/change?_id=<%=result[0]._id%>" encType="multipart/form-data">
<input type="hidden" name="_id" value=""><br>
Name: <input type="text" name="name" value="<%=result[0].name%>" required><br>
Borough: <input type="text" name="borough" value="<%=result[0].borough%>" required><br>
Cuisine: <input type="text" name="cuisine" value="<%=result[0].cuisine%>" ><br>
Building: <input type="text" name="building" value="<%=result[0].address.building%>" ><br>
Street: <input type="text" name="street" value="<%=result[0].address.street%>" ><br>
Zipcode: <input type="text" name="zipcode" value="<%=result[0].address.zipcode%>" ><br>

GPS Coordinates (lon.): <input name="lon" type="text" value="<%=result[0].lon%>"><br>
GPS Coordinates (lan.): <input name="lat" type="text" value="<%=result[0].lat%>"><br>
<%if(result[0].image){%>
<img class="img-responsive" src="/img/<%=result[0].image%>.png" alt="">
<%}%>
<input type="hidden" name="creator" value="<%=result[0].creator%>">
Upload new Photo:<input name="ima" type="file"><br>
</form>
<script>
function goBack() {window.history.back();}
</script>
<button type="submit" form="details" value="Edit">Update</button>
<button onclick="goBack()">Go Back</button>
   </div>
 </body>
</html>