<html>
   <head>
      <% include inc/head %>
      <title>DETAIL - RESTAURANT</title>
   </head>
   <body class="activities-page detail-page">
      <% include inc/navbar_auth %>
      <div class="container site-container">
	
         <div class="row">
            <div class="thumbnail">
			 <h2><%=result.name%></h2>
			 
               <!-- photo -->
             <br>
               <%if(result.image){%>
                  <img class="img-responsive" src="/img/<%=result.image%>.png" alt="">
                <%}%>
               <div class="caption-full">
                 
                  </h2>
				 
                  <div class="sub-header">Borough:<%=result.borough%></div>
                  <p></p>
                  <div class="sub-header">Cuisine:<%=result.cuisine%></div>
				  <p></p>
				  <%if(result.address){%>
				  <div class="sub-header">Street:
				  <%if(result.address.street){%><%=result.address.street%><%}%></div>
                  <p></p>
                  <div class="sub-header">Building:<%if(result.address.building){%><%=result.address.building%><%}%></div>
					<p></p>
                  <div class="sub-header">Zipcode:<%if(result.address.zipcode){%><%=result.address.zipcode%><%}%></div>
				  <%}%>
                  <p></p>
                  <div class="sub-header">GPS:[<%=result.address.coord[1]%>,<%=result.address.coord[0]%>]</div>
                  <p></p>
                  <div class="sub-header">Rating:
				  <% if(result.grade!=undefined){%>
				   <ol>
				  <% for(var i=0;i<result.grade.length;i++){%>
				 
				  <li><%=result.grade[i].score%>(<%=result.grade[i].username%>)</li>
				  
				  <%}%>
				  </ol>
				  <%}%></div>
                  <p></p>
                  <div class="sub-header">Created by:<%=result.creator%></div>
                  <p></p>
                                  				 
				
                 <a href="/gmap?lat=<%=result.address.coord[1]%>&lon=<%=result.address.coord[0]%>&title=<%=result.name%>" >Google map</a><br>
				  
                  <a href="/rate?_id=<%=result._id%>" data-id="" class="btn btn-primary btn-md rate-restaurant-btn">Rate</a> 
                  
                  <a href="/change?_id=<%=result._id%>" data-id="" class="btn btn-primary btn-md edit-restaurant-btn">Edit</a>
                  
                  
                     
                  <a href="/remove?_id=<%=result._id%>" data-id="" class="btn btn-primary btn-md delete-restaurant-btn">Delete</a>
				  <a href="/read" data-id="" class="btn btn-primary btn-md delete-restaurant-btn">Go back</a>
                
                  
               </div>
            </div>
			
			
            
      <!-- /.container -->
     
      <div class="col-sm-offset-2 col-sm-5 alert alert-danger notifiying" role="alert" >
         You are not the owner!
      </div>
     
   </body>
</html>